.chapter1-page1 .number {position:absolute;padding-left:10%;bottom:0;width:14%;max-width:185px;left:0;max-height:100%;}
.page.withBG.chapter1-page1 .title-container {width:75%;max-width:960px;}
.page.withBG.chapter1-page1 .title-container .title-1 {width:71.7%;}
.page.withBG.chapter1-page1 .title-container .title-2 {width:100%;}
.page.withBG.chapter1-page1 .title-container .title-3 {width:66.1%;}

.page.withBG.chapter1-page2 .title-container-1 {width:65%;max-width:548px;}
.page.withBG.chapter1-page2 .title-container-1 .title-1 {width:32.1%;}
.page.withBG.chapter1-page2 .title-container-1 .title-2 {width:100%;}
.page.withBG.chapter1-page2 .title-container-1 .title-3 {width:48.9%;}
.page.withBG.chapter1-page2 .title-container-2 {width:40%;max-width:230px}
.page.withBG.chapter1-page2 .title-container-2 .title-1 {width:100%;}
.page.withBG.chapter1-page2 .title-container-2 .title-2 {width:93.4%;}
.page.withBG.chapter1-page2 .title-container-2 .title-3 {width:50%;}

.page.withBG.chapter2-page1 .title-container {width:70.8%;max-width:907px;}
.page.withBG.chapter2-page1 .title-container .title-1 {width:100%;}
.page.withBG.chapter2-page1 .title-container .title-2 {width:76.4%;}
.page.withBG.chapter2-page1 .title-container .title-3 {width:64.7%;}

.page.withBG.chapter2-page2 .title-container-1 {width:65%;max-width:526px;}
.page.withBG.chapter2-page2 .title-container-1 .title-1 {width:33.4%;}
.page.withBG.chapter2-page2 .title-container-1 .title-2 {width:80.2%;}
.page.withBG.chapter2-page2 .title-container-1 .title-3 {width:70.9%;}
.page.withBG.chapter2-page2 .title-container-1 .title-4 {width:100%;}
.page.withBG.chapter2-page2 .title-container-2 {width:50%;max-width:255px;}
.page.withBG.chapter2-page2 .title-container-2 .title-1 {width:98.8%;}
.page.withBG.chapter2-page2 .title-container-2 .title-2 {width:91.7%;}
.page.withBG.chapter2-page2 .title-container-2 .title-3 {width:91.3%;}
.page.withBG.chapter2-page2 .title-container-2 .title-4 {width:90.1%;}
.page.withBG.chapter2-page2 .title-container-2 .title-5 {width:97.6%;}
.page.withBG.chapter2-page2 .title-container-2 .title-6 {width:100%;}

.page.withBG.chapter3-page1 .title-container {width:74.4%;max-width:953px;}
.page.withBG.chapter3-page1 .title-container .title-1 {width:100%;}
.page.withBG.chapter3-page1 .title-container .title-2 {width:61.5%;}
.page.withBG.chapter3-page1 .title-container .title-3 {width:61.5%;}

.page.withBG.chapter3-page2 .title-container-1 {width:65%;max-width:355px;}
.page.withBG.chapter3-page2 .title-container-1 .title-1 {width:50.1%;}
.page.withBG.chapter3-page2 .title-container-1 .title-2 {width:85.3%;}
.page.withBG.chapter3-page2 .title-container-1 .title-3 {width:100%;}
.page.withBG.chapter3-page2 .title-container-1 .title-4 {width:61.1%;}
.page.withBG.chapter3-page2 .title-container-1 .title-5 {width:85.3%;}
.page.withBG.chapter3-page2 .title-container-2 {width:50%;max-width:263px;}
.page.withBG.chapter3-page2 .title-container-2 .title-1 {width:93.5%;}
.page.withBG.chapter3-page2 .title-container-2 .title-2 {width:100%;}
.page.withBG.chapter3-page2 .title-container-2 .title-3 {width:90.1%;}
.page.withBG.chapter3-page2 .title-container-2 .title-4 {width:26.9%;}

.page.withBG.chapter4-page1 .title-container {width:62%;max-width:794px;}
.page.withBG.chapter4-page1 .title-container .title-1 {width:100%;}
.page.withBG.chapter4-page1 .title-container .title-2 {width:73.9%;}
.page.withBG.chapter4-page1 .title-container .title-3 {width:80.6%;}

.page.withBG.chapter4-page2 .title-container-1 {width:57%;max-width:556px;}
.page.withBG.chapter4-page2 .title-container-1 .title-1 {width:31.6%;}
.page.withBG.chapter4-page2 .title-container-1 .title-2 {width:100%;}
.page.withBG.chapter4-page2 .title-container-1 .title-3 {width:84.5%;}
.page.withBG.chapter4-page2 .title-container-2 {width:50%;max-width:285px;}
.page.withBG.chapter4-page2 .title-container-2 .title-1 {width:74.7%;}
.page.withBG.chapter4-page2 .title-container-2 .title-2 {width:97.7%;}
.page.withBG.chapter4-page2 .title-container-2 .title-3 {width:100%;}
.page.withBG.chapter4-page2 .title-container-2 .title-4 {width:97.7%;}

.page.withBG.chapter5-page1 .title-container {width:74.4%;max-width:953px;}
.page.withBG.chapter5-page1 .title-container .title-1 {width:100%;}
.page.withBG.chapter5-page1 .title-container .title-2 {width:67.1%;}
.page.withBG.chapter5-page1 .title-container .title-3 {width:66.6%;}

.page.withBG.chapter5-page2 .title-container-1 {width:60%;max-width:422px;}
.page.withBG.chapter5-page2 .title-container-1 .title-1 {width:41.7%;}
.page.withBG.chapter5-page2 .title-container-1 .title-2 {width:100%;}
.page.withBG.chapter5-page2 .title-container-1 .title-3 {width:76.5%;}
.page.withBG.chapter5-page2 .title-container-2 {width:50%;max-width:309px;}
.page.withBG.chapter5-page2 .title-container-2 .title-1 {width:83.4%;}
.page.withBG.chapter5-page2 .title-container-2 .title-2 {width:98.3%;}
.page.withBG.chapter5-page2 .title-container-2 .title-3 {width:88%;}
.page.withBG.chapter5-page2 .title-container-2 .title-4 {width:100%;}
.page.withBG.chapter5-page2 .title-container-2 .title-5 {width:94.8%;}
.page.withBG.chapter5-page2 .title-container-2 .title-6 {width:92.5%;}
.page.withBG.chapter5-page2 .title-container-2 .title-7 {width:79.2%;}

.page.withBG.chapter6-page1 .title-container {width:62%;max-width:794px;}
.page.withBG.chapter6-page1 .title-container .title-1 {width:100%;}
.page.withBG.chapter6-page1 .title-container .title-2 {width:73.9%;}
.page.withBG.chapter6-page1 .title-container .title-3 {width:79.9%;}

.page.withBG.chapter6-page2 .title-container-1 {width:76%;max-width:973px;}
.page.withBG.chapter6-page2 .title-container-1 .title-1 {width:72%;}
.page.withBG.chapter6-page2 .title-container-1 .title-2 {width:100%;}
.page.withBG.chapter6-page2 .title-container-1 .title-3 {width:87.7%;}