body,html {*overflow-x:hidden;}

html {position:relative;}

.popup .close {margin:0;}

.page.withBG img.president {width:auto;height:auto;max-width:319px;max-height:100%;}
.page {display:block !important;position:relative;z-index:0;height:auto;width:100%;min-height:100%;}
.page > div {width:100%;height:auto !important;text-align:center;display:block !important;position:relative;z-index:1;}

.page.withBG {display:block !important;position:relative;z-index:0;height:auto;min-height:100%;width:100%;}
.page.withBG > div {width:100%;height:100%;text-align:center;display:table !important;position:relative;z-index:1;}
.page.withBG > div > div {display:table-cell !important;vertical-align:middle;height:100%;text-align: center;padding:75px 20px;}

.nav.right > ul > li > div.relatory-container .scroller ul li {width:49%;}

.nav.bottom ul li > div {position:fixed !important;bottom:67px !important;right:67px !important;}

.chapter1-page1 .title {max-width:100%;width:auto;}

.nav.right > ul > li > div.relatory-container > div {display:block;position:relative;height:100%;}

nav.left ul li > div > ul {position:absolute;width:100%;}
nav.left ul > li > a {display:block;height:100%;}

.nav.right > ul > li.relatory.open > a > span.value  {height:30px;display:block;position:absolute;top:50%;right:0;margin-top:-15px;}
.nav.right > ul > li.relatory.open > a > span.value > span {display:block;height:30px;}

.page.withBG .break-apart .column.last {margin-right:-2px;}

.indice div.left > div > ul > li.featured > a > span.value > span {line-height: 24px;}

@media only screen and (min-width : 641px) {	
	.mobclear > div {width:49% !important;}
}